services:
  db:
    image: mysql:8
    container_name: deview-mysql
    restart: always
    env_file:
      - .env.docker
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      TZ: Asia/Seoul
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
      - ./db/data:/var/lib/mysql-files
      - ./db/mysql_data:/var/lib/mysql
    ports:
      - ${MYSQL_PORT}:${MYSQL_DOCKER_PORT}

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

    networks:
      - network

  redis:
    image: redis:7.0
    container_name: deview-redis
    restart: always
    env_file:
      - .env.docker
    ports:
      - ${REDIS_PORT}:${REDIS_DOCKER_PORT}
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 30s

    networks:
      - network

  server:
    env_file:
      - .env.docker
    build:
      context: .
      dockerfile: Dockerfile
    container_name: deview-server
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - ${SERVER_PORT}:${SERVER_DOCKER_PORT}

    networks:
      - network

networks:
  network: