name: Integration Test - Docker Compose

on:
  push:
    branches: [ develope ]

jobs:
  integration-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
          MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -p${{ secrets.MYSQL_ROOT_PASSWORD }}"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=20

      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd="redis-cli ping"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Grant Permission
        run: chmod +x gradlew

      - name: Run Spring Boot Tests
        env:
          MYSQL_HOST: localhost
          MYSQL_PORT: 3306
          MYSQL_USERNAME: root
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
          MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}

          REDIS_HOST: localhost
          REDIS_PORT: 6379
          REDIS_PASSWORD: ""

          SERVER_DOCKER_PORT: 8080
          SERVER_PORT: 8080

          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          JWT_ACCESS_EXPIRATION: ${{ secrets.JWT_ACCESS_EXPIRATION }}
          JWT_REFRESH_EXPIRATION: ${{ secrets.JWT_REFRESH_EXPIRATION }}

          SPRING_PROFILES_ACTIVE: prod
          SPRING_JPA_HIBERNATE_DDL_AUTO: ${{ secrets.SPRING_JPA_HIBERNATE_DDL_AUTO }}

          FRONTEND_URL: ${{ secrets.FRONTEND_URL }}

        run: |
          ./gradlew test --info
